<h1>Stock  market</h1>
<%= form_tag root_path, :method => 'POST' do %>
<%= text_field_tag 'ticker' , nil , placeholder: "Enter Ticker Symbol" , size: 50 %>
<%= submit_tag 'Lookup' %>
<% end %>
<% StockQuote::Stock.new(api_key: 'pk_cfc45b2287ed41b1bdee623b065a8be7') %> 			<!--API key for stock quote gem file -->
<br/>
<% if @stock %>
	<%= @stock.company_name %>
	<br/>
	<%= @stock.latest_price %>
	<br/>
<% elsif @nothing %>
	<%= @nothing %>
<% end %>

<% if @error %>
	<%= @error %>
	<% end%>

